body{
    background-color: bisque;
}
h1{
    color:brown;
}
h1,
p {
    text-align: center;
}

.painauchoc{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
a{
    color: rgb(124, 4, 4);
    text-align: center;
}